<div class="modal" id="create-modal">
	<div class="modal-dialog">
		<div
			class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Create New Tags</h4>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				<form action="{{ path('admin_tags_create') }}" id="create-form" method="POST">
					<input type="hidden" name="_token" value="{{ csrf_token('create_tags') }}">
					<div class="form-group">
						<label for="tags_name">Name</label>
						<input class="form-control" type="text" name="tags_name">
						{% for msg in create_error %}
							<small class="form-text text-muted text-danger">
								{{ msg }}
							</small>
						{% endfor %}
					</div>
					<diV class="text-center">
						<button type="button" class="btn btn-success float-left" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" id="btnUpdateSubmit">Create</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

