{% extends 'frontend/base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block stylesheet %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block content %}

    <div id="app">
    </div>

{% endblock %}


{% block javascript %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
